.pg-container {
  display: flex;
  gap: 20px;
  padding: 32px 55px;
}

.filter-heading-mobile {
  display: none;
}
.pg-sidebar {
  width: 320px;
  gap: 20px;
  flex-direction: column;
  display: flex;
}

.pg-filter {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.pg-filter-header {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-family: "obv-med";
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(31, 41, 55, 1);
  margin-bottom: 12px;
  align-items: center;
}

.pg-filter-body {
  margin-bottom: 20px;
}

.pg-filter-body label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.pg-filter-body label .pg-option {
  font-family: "obv-regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.pg-filter-body input[type="checkbox"],
.pg-filter-body input[type="radio"] {
  accent-color: rgba(68, 48, 123, 1);
  width: 24px;
  padding: 0;
  margin: 0;
  height: 24px;
}

.pg-colors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px 0;
}
.pg-colors div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.pg-colors div .color-bar {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  cursor: pointer;
  background: rgba(224, 176, 255, 1);
  border: 1px solid white;
}

.pg-colors div .color-bar.active {
  box-shadow:
    0 0 0 1.5px #ffffff,
    0 0 0 3px rgba(55, 65, 81, 1);
  z-index: 10 !important;
}
.pg-colors div .color-text {
  font-family: "obv-regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}
.pg-colors div .color-bar.black {
  background: black;
}

.pg-colors div .color-bar.white {
  background: whitesmoke;
}

.pg-colors div .color-bar.blue {
  background: rgb(56, 72, 105);
}
.pg-colors div .color-bar.red {
  background: rgb(248, 58, 90);
}
.pg-colors div .color-bar.brown {
  background: rgb(110, 59, 70);
}
.pg-range {
  width: 100%;
  margin-bottom: 16px;
  accent-color: rgba(100, 70, 190, 1);
  height: 3px;
}

.pg-price-inputs {
  display: flex;
  gap: 8px;
}

.pg-price-inputs input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid rgba(196, 178, 230, 1);
  gap: 10px;
  border-radius: 8px;
  font-family: "obv-regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.pg-price-inputs input[type="number"]::placeholder {
  color: rgba(100, 70, 190, 1);
}

.pg-price-inputs input[type="number"]:focus {
  outline: 1px solid rgba(100, 70, 190, 1);
}

.pg-price-inputs .minus {
  border: 1px solid rgba(100, 70, 190, 1);
  height: 0;
  width: 53.18px;
  align-self: center;
}

.pg-products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 50px;
  align-items: stretch;
}

.pg-card {
  position: relative;
  --card-width: 350px;
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
}

product-card-avenger .op-card__price-current {
  font-size: 20px;
}

product-card-avenger .op-card__price-old {
  font-size: 14px;
}

product-card-avenger .op-card__discount-text {
  font-size: 16px;
}

product-card-avenger .op-card__badge-top-left {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

product-card-avenger .op-card__traingle {
  top: -41px;
}

.skeleton-img {
  height: 200px;
  background: #eee;
  border-radius: 10px;
}
.skeleton-text {
  height: 12px;
  margin-top: 10px;
  background: #eee;
}
.skeleton-text.small {
  width: 60%;
}
.pg-active-filters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin: 0 50px;
  width: 100%;
}

.pg-chip {
  padding: 10px 16px;
  background: rgba(242, 236, 252, 1);
  font-size: 14px;
  font-family: "obv-regular";
  gap: 12px;
  border-radius: 6px;
  border-width: stroke weight/1;
  color: rgba(31, 41, 55, 1);
  display: flex;
}

.pg-product-filters {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chip-close {
  cursor: pointer;
}

.pg-pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pg-pagination-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pg-pag-btn,
.pg-pag-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(100, 70, 190, 1);
  background: white;
  color: rgba(100, 70, 190, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-family: "obv-regular";
  font-size: 16px;
  line-height: 105%;
}
.pg-pag-number {
  border: 0.5px solid rgba(196, 178, 230, 1);
}

.pg-pag-number.active {
  background: #e9e4ff;
  border-color: transparent;
  border: 0.5px solid rgba(196, 178, 230, 1);
}

.pg-pag-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pg-pag-btn:hover:not(:disabled),
.pg-pag-number:hover {
  border-color: #7b61ff;
  background: #f5f3ff;
}
.bottom-btns {
  display: none;
  gap: 12px;
  justify-content: space-between;
  margin-top: 20px;
}

.pg-mobile-bar {
  display: none;
}

.pg-filter-count {
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgba(17, 24, 39, 1);
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
  font-family: "obv-regular";
  padding: 1px 0 3.7px 0;
}

.pg-filter-header .filter-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============ MOBILE VIEW ============ */
@media (max-width: 428px) {
  .pg-container {
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
  }

  .filter-heading-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(161, 160, 160);
    z-index: 10001; /* above sidebar content */
    border-radius: 12px 12px 0 0;
    font-family: "obv-med";
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: rgba(31, 41, 55, 1);
    padding: 12px 16px;
  }

  .pg-sidebar {
    display: none;
  }

  .pg-sidebar.open,
  .pg-sidebar.closing {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85%;
    background: #fff;
    z-index: 9999;
    padding: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding-top: 60px;
  }

  .pg-sidebar-content {
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 16px;
  }

  .pg-sidebar.open {
    animation: slideUp 1s forwards;
  }

  .pg-sidebar.closing {
    animation: slideDown 1s forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%);
    }
  }

  .pg-products {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: 0;
  }

  .pg-product-filters {
    padding-bottom: 70px;
  }

  .pg-mobile-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    z-index: 10000;
  }

  .pg-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    display: none;
  }

  .pg-overlay.active {
    display: block;
  }

  .pg-chip {
    display: none;
  }
  .bottom-btns {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 12px 16px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10002;
  }
  .bottom-btns button {
    gap: 4px;
    padding-top: 4px;
    padding-right: 14px;
    padding-bottom: 4px;
    padding-left: 14px;
    border-radius: 8px;
    flex: 1;
  }
}
